@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden; }

body {
  font-family: "Livvic", sans-serif; }

.headding-primary {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff; }
  .headding-primary--small {
    font-size: 64px;
    line-height: 56px; }
  .headding-primary > * {
    color: #f67e7e; }

.headding-secondary {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff; }
  .headding-secondary--dark {
    color: #002529; }
  .headding-secondary > * {
    color: #79c8c7; }

.headding-tertiary {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e; }

.text-primary {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff; }

.text-secondary {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff; }
  .text-secondary--dark {
    opacity: 0.6; }

.text-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7; }

.text-occupation {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: #79c8c7; }

.btn, .btn:link, .btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 48px;
  border: 2px solid;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none; }

.btn--light {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
  transition: all 0.2s; }
  .btn--light:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #002529; }

.btn--dark {
  background: none;
  border-color: #012f34;
  color: #012f34;
  transition: all 0.2s; }
  .btn--dark:hover {
    background-color: #012f34;
    border-color: #012f34;
    color: #ffffff; }

.btn--secondary {
  background: #ffffff;
  border-color: #ffffff;
  color: #002529;
  transition: all 0.2s; }
  .btn--secondary:hover {
    background-color: #2c6269;
    border-color: #2c6269; }

.link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s; }
  .link:hover {
    color: #f67e7e; }
  .link--social svg {
    fill: #ffffff;
    transition: all 0.2s; }
  .link--social svg:hover {
    fill: #f67e7e; }

.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 32px; }
  .feature__info {
    margin-left: 23px; }
  .feature__info p {
    margin-top: 16px; }

.testimonial {
  position: relative; }
  .testimonial .text-secondary {
    position: relative;
    z-index: 1; }
  .testimonial .text-name {
    margin-top: 24px; }
  .testimonial__photo {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 62px;
    margin-top: 32px; }
  .testimonial__quotes {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%); }

.card {
  text-align: center;
  position: relative;
  min-width: 350px;
  min-height: 253px;
  perspective: 1500px; }
  .card__side1 {
    height: 100%;
    padding: 35px;
    background-color: #012f34;
    backface-visibility: hidden;
    transition: all 0.7s; }
    .card__side1--turned {
      transform: rotateY(-180deg); }
  .card__side2 {
    height: 100%;
    padding: 35px 25px;
    backface-visibility: hidden;
    background-color: #002529;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    transition: all 0.7s; }
    .card__side2 .text-secondary {
      margin: 15px 0; }
    .card__side2 .link:not(:last-child) {
      margin-right: 20px; }
    .card__side2--turned {
      transform: rotateY(0); }
  .card__photo {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 96px;
    margin-bottom: 16px; }
  .card__btn {
    cursor: pointer;
    border: none;
    background-color: #f67e7e;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -28px;
    left: calc(50% - 28px);
    z-index: 100;
    transition: all 0.5s; }
    .card__btn:hover {
      background-color: #79c8c7; }
    .card__btn--active {
      background-color: #79c8c7;
      transform: rotate(45deg); }
      .card__btn--active:hover {
        background-color: #f67e7e; }

.footer {
  height: 196px;
  background-color: #002529;
  padding: 48px 165px;
  display: grid;
  grid-template-areas: "logo adress adress social social" "links adress adress copyright copyright";
  gap: 30px 30px; }
  .footer__logo {
    grid-area: logo; }
  .footer__links {
    grid-area: links;
    text-align: left;
    align-self: self-end; }
    .footer__links .link:not(:last-child) {
      margin-right: 40px; }
  .footer__adress {
    grid-area: adress; }
  .footer__social {
    grid-area: social;
    text-align: end; }
    .footer__social .link:not(:first-child) {
      margin-left: 16px; }
  .footer__copyright {
    grid-area: copyright;
    text-align: right; }

.navigation {
  position: absolute;
  width: 100%;
  padding: 0 165px;
  top: 73px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 100; }
  .navigation__leftContainer, .navigation__rightContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
  .navigation__logo {
    margin-right: 40px; }
  .navigation__link {
    margin-left: 40px; }

.contact {
  height: 200px;
  padding: 0 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f67e7e;
  position: relative; }
  .contact__decor1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px; }

.info {
  height: 700px;
  display: flex;
  background-color: #014e56;
  position: relative; }
  .info__leftContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding-left: 165px; }
  .info__rightContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 165px;
    padding-left: 110px; }
  .info__decor1 {
    position: absolute;
    left: -100px;
    top: 250px;
    width: 200px; }
  .info__decor2 {
    position: absolute;
    right: 165px;
    bottom: 0;
    width: 358px; }
  .info__decor3 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    margin-bottom: 79px; }

.features {
  height: 684px;
  display: flex;
  background-color: #012f34;
  position: relative; }
  .features__leftBlock {
    flex-basis: 50%;
    padding: 140px 110px 0 165px; }
  .features__rightBlock {
    flex-basis: 50%;
    padding: 200px 165px 0 50px; }
  .features__decor1 {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 200px; }
  .features__decor2 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
    margin-bottom: 54px; }

.testimonials {
  height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004047;
  padding: 0 165px;
  text-align: center;
  position: relative; }
  .testimonials__container {
    margin-top: 92px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px; }
  .testimonials__decor1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px; }
  .testimonials__decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px; }

.about {
  height: 517px;
  background-color: #014e56;
  padding: 240px 165px 0 165px;
  display: flex;
  flex-wrap: nowrap;
  position: relative; }
  .about__leftBlock {
    min-width: 350px;
    margin-right: 30px; }
  .about__decor1 {
    position: absolute;
    bottom: 0;
    right: -100px;
    height: 200px; }
  .about__decor2 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
    margin-bottom: 40px; }

.personality {
  background-color: #004047;
  padding: 0 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1002px;
  position: relative; }
  .personality__container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 76px 30px;
    margin-top: 64px; }
  .personality__decor1 {
    position: absolute;
    top: 0;
    left: -100px;
    width: 200px; }
  .personality__decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px; }

.clients {
  height: 437px;
  background-color: #012f34;
  padding: 140px 165px 0 165px;
  text-align: center;
  position: relative; }
  .clients__headding {
    margin-bottom: 64px; }
  .clients__links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .clients__links > img {
      object-fit: contain;
      max-width: 180px;
      max-height: 45px; }
  .clients__decor1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; }
