@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden; }

body {
  font-family: "Livvic", sans-serif; }

.headding-primary {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #ffffff; }
  .headding-primary--small {
    font-size: 64px;
    line-height: 56px; }
  .headding-primary > * {
    color: #f67e7e; }

.headding-secondary {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff; }

.headding-tertiary {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e; }

.text-primary {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff; }

.text-secondary {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff; }

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #79c8c7; }

.occupation {
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #79c8c7; }

.btn, .btn:link, .btn:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153px;
  height: 48px;
  border: 2px solid;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none; }

.btn--light {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
  transition: all 0.2s; }
  .btn--light:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #002529; }

.btn--dark {
  background: none;
  border-color: #012f34;
  color: #012f34;
  transition: all 0.2s; }
  .btn--dark:hover {
    background-color: #012f34;
    border-color: #012f34;
    color: #ffffff; }

.btn--secondary {
  background: #ffffff;
  border-color: #ffffff;
  color: #002529;
  transition: all 0.2s; }
  .btn--secondary:hover {
    background-color: #2c6269;
    border-color: #2c6269; }

.link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s; }
  .link:hover {
    color: #f67e7e; }

.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 32px; }
  .feature__info {
    margin-left: 23px; }
  .feature__info p {
    margin-top: 16px; }

.footer {
  height: 196px;
  display: flex;
  background-color: #002529; }

.navigation {
  position: absolute;
  width: 100%;
  padding: 0 165px;
  top: 73px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 100; }
  .navigation__leftContainer, .navigation__rightContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
  .navigation__logo {
    margin-right: 40px; }
  .navigation__link {
    margin-left: 40px; }

.contact {
  height: 200px;
  display: flex;
  background-color: #f67e7e; }

.info {
  height: 700px;
  display: flex;
  background-color: #014e56;
  position: relative; }
  .info__leftContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding-left: 165px; }
  .info__rightContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: 165px;
    padding-left: 110px; }
  .info__decor1 {
    position: absolute;
    left: -100px;
    top: 250px;
    width: 200px; }
  .info__decor2 {
    position: absolute;
    right: 165px;
    bottom: 0;
    width: 358px; }
  .info__decor3 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    margin-bottom: 79px; }

.features {
  height: 684px;
  display: flex;
  background-color: #012f34;
  position: relative; }
  .features__leftBlock {
    flex-basis: 50%;
    padding: 140px 110px 0 165px; }
  .features__rightBlock {
    flex-basis: 50%;
    padding: 200px 165px 0 50px; }
  .features__decor1 {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 200px; }
  .features__decor2 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f67e7e;
    margin-bottom: 54px; }

.testimonials {
  height: 745px;
  display: flex;
  background-color: #004047; }
