.footer {
  height: 196px;
  background-color: $color-dark-green;
  padding: 48px $global-padding;
  display: grid;
  grid-template-areas:
    "logo adress adress social social"
    "links adress adress copyright copyright";
  gap: 30px 30px;

  &__logo {
    grid-area: logo;
  }

  &__links {
    grid-area: links;
    text-align: left;
    align-self: self-end;

    & .link:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__adress {
    grid-area: adress;
  }

  &__social {
    grid-area: social;
    text-align: end;

    & .link:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__copyright {
    grid-area: copyright;
    text-align: right;
  }
}

@media only screen and (max-width: $bp-tablet) {
  .footer {
    height: 270px;
    padding: 48px 40px;
    grid-template-areas:
      "logo adress"
      "logo adress"
      "logo adress"
      "links adress"
      "social copyright";

    &__adress {
      text-align: end;
    }

    &__social {
      text-align: start;
    }
  }
}

@media only screen and (max-width: $bp-phone) {
  .footer {
    height: 432px;
    padding: 66px 24px;
    text-align: center;
    justify-content: center;
    grid-template-areas:
      "logo"
      "links"
      "adress"
      "adress"
      "adress"
      "adress"
      "social"
      "copyright";
    gap: 24px;

    &__links {
      text-align: center;
    }
    &__adress {
      text-align: center;
    }

    &__social {
      text-align: center;
    }
  }
}
