.card {
  text-align: center;
  position: relative;
  min-width: 350px;
  min-height: 253px;
  perspective: 1500px;

  &__side1 {
    height: 100%;
    padding: 35px;
    background-color: $color-sacramento-state-green;
    backface-visibility: hidden;
    transition: all 0.7s;

    &--turned {
      transform: rotateY(-180deg);
    }
  }

  &__side2 {
    height: 100%;
    padding: 35px 25px;
    backface-visibility: hidden;
    background-color: $color-dark-green;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    transition: all 0.7s;

    & .text-secondary {
      margin: 15px 0;
    }

    & .link:not(:last-child) {
      margin-right: 20px;
    }

    &--turned {
      transform: rotateY(0);
    }
  }

  &__photo {
    border: 2px solid $color-white;
    border-radius: 50%;
    width: 96px;
    margin-bottom: 16px;
  }

  &__btn {
    cursor: pointer;
    border: none;
    background-color: $color-light-coral;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -28px;
    left: calc(50% - 28px);
    z-index: 100;
    transition: all 0.5s;

    &:hover {
      background-color: $color-rapture-blue;
    }

    &--active {
      background-color: $color-rapture-blue;
      transform: rotate(45deg);

      &:hover {
        background-color: $color-light-coral;
      }
    }
  }
}
