.feature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 32px;

  &__info {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info h3 {
    margin-bottom: 16px;
  }
}
