.link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: $color-white;
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;

  @media (hover: hover) {
    &:hover {
      color: $color-light-coral;
    }
  }

  &--social svg {
    fill: $color-white;
    transition: all 0.2s;
  }

  @media (hover: hover) {
    &--social svg:hover {
      fill: $color-light-coral;
    }
  }
}
