.link {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: $color-white;
  transition: all 0.2s;

  &:hover {
    color: $color-light-coral;
  }

  &--social svg {
    fill: $color-white;
  }

  &--social svg:hover {
    fill: $color-light-coral;
  }
}
