.testimonial {
  position: relative;

  & .text-secondary {
    position: relative;
    z-index: 1;
  }

  & .text-name {
    margin-top: 24px;
  }

  &__photo {
    border: 2px solid $color-white;
    border-radius: 50%;
    width: 62px;
    margin-top: 32px;
  }

  &__quotes {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-width: $bp-tablet) {
    & .text-secondary {
      max-width: 700px;
    }

    & .text-name {
      margin-top: 16px;
    }

    &__photo {
      margin-top: 16px;
    }
  }
}
