@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600&display=swap");

// html {
//   font-size: 62.5%; // to set 10px as 1rem

//   @media (max-width: $bp-tablet) {
//     font-size: 40%;
//   }
// }

body {
  font-family: "Livvic", sans-serif;
}

.heading-primary {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: $color-white;

  @media (max-width: $bp-tablet) {
    font-size: 64px;
    line-height: 56px;
  }

  // &--small {
  //   font-size: 6.4rem;
  //   line-height: 5.6rem;
  // }

  & > * {
    color: $color-light-coral;
  }
}

.heading-secondary {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $color-white;

  @media (max-width: $bp-tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  &--dark {
    color: $color-dark-green;
  }

  & > * {
    color: $color-rapture-blue;
  }
}

.heading-tertiary {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: $color-light-coral;

  &--big {
    font-size: 32px;
    line-height: 45px;
  }
}

.text-primary {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $color-white;
}

.text-secondary {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: $color-white;

  &--dark {
    opacity: 0.6;
  }
}

.text-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: $color-rapture-blue;
}

.text-occupation {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  color: $color-rapture-blue;
}
