.info {
  height: 700px;
  display: flex;
  background-color: $color-midnight-green;
  position: relative;

  &__leftContainer {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding-left: $global-padding;
  }

  &__rightContainer {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-right: $global-padding;
    padding-left: 110px;
  }

  &__decor1 {
    position: absolute;
    left: -100px;
    top: 250px;
    width: 200px;
  }

  &__decor2 {
    position: absolute;
    right: 165px;
    bottom: 0;
    width: 358px;
  }

  &__decor3 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $color-rapture-blue;
    margin-bottom: 79px;
  }
}

.features {
  height: 684px;
  display: flex;
  background-color: $color-sacramento-state-green;
  position: relative;

  &__leftBlock {
    flex-basis: 50%;
    padding: 140px 110px 0 $global-padding;
  }

  &__rightBlock {
    flex-basis: 50%;
    padding: 200px $global-padding 0 50px;
  }

  &__decor1 {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 200px;
  }

  &__decor2 {
    display: block;
    width: 50px;
    height: 4px;
    background-color: $color-light-coral;
    margin-bottom: 54px;
  }
}

.testimonials {
  height: 745px;
  display: flex;
  background-color: $color-deep-jungle-green;
}
