.info {
  height: 700px;
  display: flex;
  background-color: $color-midnight-green;
}

.features {
  height: 684px;
  display: flex;
  background-color: $color-sacramento-state-green;
}

.testimonials {
  height: 745px;
  display: flex;
  background-color: $color-deep-jungle-green;
}
